.food-card {
  width: 500px;
  min-height: 350px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle box shadow */
  border-radius: 10px; /* rounded corners */
}

.food-card-title {
  font-weight: bold;
  font-size: 22px; /* increased font size */
  text-align: center;
}

.food-card-image {
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-top-left-radius: 10px; /* rounded top-left corner */
  border-top-right-radius: 10px; /* rounded top-right corner */
}

.food-card-description {
  font-size: 18px; /* increased font size */
  padding: 20px;
}

.food-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  border-bottom-left-radius: 10px; /* rounded bottom-left corner */
  border-bottom-right-radius: 10px; /* rounded bottom-right corner */
  bottom: 0px;
  position: absolute;
  width: -webkit-fill-available;
}

.food-card-price {
  font-weight: bold;
  font-size: 20px; /* increased font size */
}

.food-card-icon {
  font-size: 25px; /* increased font size */
  cursor: pointer;
}
.food-card-icon-text {
  font-size: 15px; /* increased font size */
}

.ant-card .ant-card-body {
  padding: 0px 12px 12px 12px;
}
