.header {
  width: 100%;
  z-index: 1000;
  padding: 5px 10px;
}

.header-content {
  padding-left: 218px;
  display: flex;
  justify-content: space-between; /* space between title and contact info */
  align-items: center; /* center vertically */
  width: 100%;
}

.header-title {
  font-size: 20px; /* increased font size */
  margin: 0;
  text-align: center; /* center the title */
  flex: 1; /* allow the title to take available space */
}

.contact-info {
  display: flex;
  align-items: center; /* align items vertically */
  justify-content: flex-end; /* align to the right */
}

.wp-icon {
  display: flex;
  align-items: center;
}

.ant-layout-header {
  padding: 0px;
  background: none;
  width: 100% !important;
  height: auto;
}
.footer-text {
  margin-right: 20px;
  color: white;
}
.wp {
  font-size: 40px;
  color: #25d366;
  margin-right: 10px;
}

.phone {
  font-size: 40px;
  color: #f4a100;
}

@media (max-width: 600px) {
  .header-content {
    padding-left: 40px;
  }
  #footerText {
    display: none;
  }
}
