body {
  margin: 0;
  font-weight: 600;
}

#container3D canvas {
  width: 35vw !important;
  height: 35vh !important;
  position: relative;
  top: 0;
  left: 0;
}
.full-heigh {
  height: 100vh;
}
.ant-menu-title-content {
  color: #f6eac3;
}
.full-width {
  width: 100vw;
}
.menu-container {
  font-size: 25px !important;
  background: none;
  color: #f6eac3;
  font-family: 'monospace' !important;
}
.header {
  background: #b8dfb7;
  text-align: center;
  font-size: 25px !important;
  font-family: 'monospace' !important;
}
.sider {
  background: #928e77;
  padding: 30px 5px;
}
.footer {
  background: #b8dfb7;
  justify-content: center;
  text-align: center;
  font-size: 25px !important;
  font-family: 'monospace' !important;
}
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  background: #f6eac3 !important;
}
.ant-menu-item-selected {
  background: none !important;
  color: #9ad284 !important;
}
.ant-layout-header {
  padding: 0px;
}
.hamburger-menu-button {
  border-radius: 0px;
  height: 100%;
  width: 100%;
  background-color: #928e77;
}
.hamburger-menu-button,
.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  border-radius: 0px;
  width: 100% !important;
  height: 100%;
  background-color: #928e77 !important;
}
.sidebar-drawer,
.ant-drawer-header {
  background: #b8dfb7;
  text-align: center;
  font-size: 20px !important;
  font-family: 'monospace' !important;
}
.sidebar-drawer,
.ant-drawer-body {
  background: #928e77;
  text-align: center;
  font-size: 20px !important;
  font-family: 'monospace' !important;
}
.container-card {
  background: #f6eac3;
}

@media (max-width: 768px) {
  .ant-layout-sider {
    display: none; /* Hide the sidebar on small screens */
  }
  .header {
    width: 93%;
  }
  .hamburger-menu {
    width: 7%;
  }
}
@media (min-width: 768px) {
  .hamburger-menu {
    display: none; /* Hide the hamburger button on larger screens */
  }
  .header {
    width: 100%;
  }
}
