body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #F4F1DE; /* Light cream background */
}

h1,
h2 {
  margin: 0;
}

.ant-modal-content {
  background-color: #264653; /* Dark teal for modal background */
  color: #F4F1DE; /* Light cream text for contrast */
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}